.table-privacy {
    display: block;
    width: 100%;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    font-weight: var(--body-font-size-xs);
  }
  .table-privacy::-webkit-scrollbar {
    display: none;
  }
  .table-privacy table {
    width: 100%;
    max-width: 100%;
    min-width: 600px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: var(--body-font-size-xs);
  }
  @media (width >= 600px) {
    .table-privacy table {
      font-size: var(--body-font-size-s);
    }
  }
  @media (width >= 900px) {
    .table-privacy table {
      font-size: var(--body-font-size-m);
    }
  }
  .table-privacy table thead tr {
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
  }
  .table-privacy table tbody tr {
    border-bottom: 1px solid var(--color-black);
  }
  .table-privacy table th {
    font-weight: 400;
  }
  .table-privacy table th,
  .table-privacy table td {
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .table-privacy table th p,
  .table-privacy table td p {
    margin: 0;
  }
  .table-privacy table th p + p,
  .table-privacy table td p + p {
    margin-top: 0.25em;
  }
  .table-privacy table th ul,
  .table-privacy table th ol,
  .table-privacy table td ul,
  .table-privacy table td ol {
    margin: 0;
    padding-left: 1.2em;
  }
  .table-privacy table th li,
  .table-privacy table td li {
    margin: 0;
    padding: 0;
  }
  .table-privacy table th a, .table-privacy table th a:visited,
  .table-privacy table td a,
  .table-privacy table td a:visited {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
  }
  .table-privacy table th a:hover,
  .table-privacy table td a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .table-privacy.no-header table tbody tr {
    border-top: 1px solid var(--color-black);
  }
  .table-privacy.striped tbody tr:nth-child(odd) {
    background-color: var(--light-color);
  }
  .table-privacy.bordered table th,
  .table-privacy.bordered table td {
    border: 1px solid;
    border-color: var(--color-black);
  }